.bg-cafe{
    background-color: #ece3cf;
}
.input-appointment{
    border: 1px solid #D5B981;
    border-radius: 0;
    font-weight: 600;
}

.input-appointment:focus{
    border: 1px solid #d68f00;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.input-error{
    border: 1px solid #d60000!important;
    border-radius: 0 !important;
    box-shadow: rgba(186, 31, 31, 0.584) 0px 1px 2px 0px,rgba(194, 49, 66, 0.15) 0px 2px 6px 2px !important;

}
.btn-validate{
    background-color: #d68f00;
    border: #D5B981 solid 1px;
}

.barber-check{
    background-color: #d68f00 !important;
}

.btn-registrame{
    background-color: #d68f00;
    border-radius: 0px;
    color: white;
}

